<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Usuario</title>
    <link rel="stylesheet" href="{% static 'app/style-form.css' %}">
        
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const soloNumeros = (input, maxLength) => {
            input.addEventListener('input', () => {
                input.value = input.value.replace(/\D/g, '').slice(0, maxLength);
            });
        };
    
        soloNumeros(document.getElementById('id_dni'), 8);
        soloNumeros(document.getElementById('id_telefono'), 9);
    });
    </script>
    
<body>
    <div class="background">
        <div class="form-container">
            
            <div class="form-header">
                <h1>Crear Nuevo Usuario</h1>
                <p>Complete los campos requeridos para registrar un nuevo usuario.</p>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="id_dni">DNI:</label>
                            {{ form.dni }}
                        </div>
                        <div class="form-group">
                            <label for="id_nombre">Nombre:</label>
                            {{ form.nombre }}
                        </div>
                        <div class="form-group">
                            <label for="id_apellido_paterno">Apellido Paterno:</label>
                            {{ form.apellido_paterno }}
                        </div>
                        <div class="form-group">
                            <label for="id_apellido_materno">Apellido Materno:</label>
                            {{ form.apellido_materno }}
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_telefono">Teléfono:</label>
                            {{ form.telefono }}
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="id_password">Contraseña:</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <label for="id_tipo_usuario">Tipo de Usuario:</label>
                            {{ form.tipo_usuario }}
                        </div>
                        <div class="form-group">
                            <label for="id_estado">Estado:</label>
                            {{ form.estado }}
                        </div>
                        <div class="form-group">
                            <label for="id_ugel">UGEL:</label>
                            {{ form.ugel }}
                        </div>
                        <div class="form-group">
                            <label for="id_codigo_modular">Código Modular (COLEGIO):</label>
                            {{ form.codigo_modular }}
                        </div>
                        <div class="form-group">
                            <label for="id_foto_perfil">Foto de Perfil:</label>
                            
                            {% if usuario.foto_perfil %}
                                <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" style="max-width: 150px; display: block; margin-bottom: 10px;">
                            {% else %}
                                <p>No hay foto cargada</p>
                            {% endif %}
                            
                            {{ form.foto_perfil }}
                        </div>
                        <div class="form-submit">
                            <button type="submit">Crear Usuario</button>
                            <a href="{% url 'home' %}" type="submit">Cancelar</a>    
                        </div>
                        
                    
                    </div>
                    </div>
                </div>
               
            </form>
             
        </div>
        
    </div>
    
</body>
</html>
