<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Formulario Colegio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/style-colegios-editar.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>

        {%if request.user.tipo_usuario == 'UGEL' or request.user.tipo_usuario == 'REGIONAL' %}
        <a href="{% url 'registrar_colegios' %}" class="btn btn-secondary">Cancelar</a>
        {% else %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
        {% endif %}
    </form>
</body>
</html>
