<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREVA - Inicio</title>
    <link rel="stylesheet" href="{% static 'app/style-home.css' %}">
</head>
<body>
    <header class="header">
        <h1>SIREVA CUSCO</h1>
        <div class="user-info">
            <span>{{ nombre_usuario }}</span>
            <img src="{% static 'app/perfil.png' %}" alt="Foto del Usuario">
            <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
        </div>
    </header>

    <main class="main-container">
        {% if tipo_usuario == "REGIONAL" %}
            <section class="panel">
                <h3>Panel de Usuario Regional</h3>
                <div class="button-group">
                    <a href="{% url 'crear_usuario' %}" class="button">
                        <img src="{% static 'app/crear_usuario.png' %}" alt="Crear Usuario">
                        <span>Crear Usuario</span>
                    </a>
                    <a href="{% url 'reporte_vacantes' %}" class="button">
                        <img src="{% static 'app/generar_reporte.png' %}" alt="Generar Reporte de Vacantes">
                        <span>Generar Reporte de Vacantes</span>
                    </a>
                    <a href="{% url 'control_usuarios' %}" class="button">
                        <img src="{% static 'app/control_usuarios.png' %}" alt="Control de Usuarios UGEL">
                        <span>Control de Usuarios UGEL</span>
                    </a>
                    <a href="{% url 'registrar_colegios' %}" class="button">
                        <img src="{% static 'app/registrar_colegios.png' %}" alt="Registrar Colegios">
                        <span>Registrar Colegios</span>
                    </a>
                    <a href="{% url 'generar_backup' %}" class="button">
                        <img src="{% static 'app/generar_backup.png' %}" alt="Generar Backup">
                        <span>Generar Backup</span>
                    </a>
                    <a href="#" class="button" onclick="openModal()">
                        <img src="{% static 'app/carga_datos_colegios.png' %}" alt="Carga de Datos de Colegios">
                        <span>Carga de Datos de Colegios</span>
                    </a>

                </div>
            </section>
        {% elif tipo_usuario == "UGEL" %}
            <section class="panel">
                <h3>Panel de Usuario UGEL</h3>
                <div class="button-group">
                    <a href="{% url 'registrar_colegios' %}" class="button">
                        <img src="{% static 'app/registrar_colegios.png' %}" alt="Registrar Colegios">
                        <span>Registrar Colegios</span>
                    </a>
                    <a href="{% url 'registrar_director' %}" class="button">
                        <img src="{% static 'app/crear_usuario.png' %}" alt="Registrar Directores">
                        <span>Registrar Directores</span>
                    </a>
                    <a href="{% url 'control_usuarios' %}" class="button">
                        <img src="{% static 'app/control_usuarios.png' %}" alt="Control de Usuarios UGEL">
                        <span>Control de Usuarios UGEL</span>
                    </a>
                    <!--<a href='#' class = "button" onclick="openModal1()">
                        <img src="{% static 'app/cargar_directores.png' %}" alt="Carga de Datos de Directores">
                        <span>Carga de Datos de Directores</span>
                    </a>
                    -->
                </div>
            </section>
        {% elif tipo_usuario == "DIRECTOR" %}
            <section class="panel">
                <h3>Panel de Usuario Director</h3>
                <div class="button-group">
                    <a href="{% url 'registrar_vacantes' %}" class="button">
                        <img src="{% static 'app/registrar_vacantes.png' %}" alt="Registrar Vacantes Disponibles">
                        <span>Registrar Vacantes Disponibles</span>
                    </a>
                </div>
            </section>
        {% else %}
            <p class="error-message">No tienes un tipo de usuario definido.</p>
        {% endif %}
    </main>

    <footer class="footer">
        <p>Design by GEREDU CENTRO DE COMPUTO</p>
    </footer>

    <!-- Modal para carga de CSV -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">
            <h2>Cargar Datos de Colegios</h2>
            <form method="POST" enctype="multipart/form-data" action="{% url 'cargar_datos_colegios' %}">
                {% csrf_token %}
                <label for="csv_file">Seleccione un archivo CSV:</label>
                <input type="file" id="csv_file" name="csv_file" accept=".csv" required>
                <div class="modal-buttons">
                    <button type="submit" class="btn btn-primary">Cargar</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById("uploadModal").style.display = "flex";
        }

        function closeModal() {
            document.getElementById("uploadModal").style.display = "none";
        }
    </script>
    <div id="">

    </div>
</body>
</html>
