<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREVA</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'app/css/slick.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{%static 'app/css/templatemo-style.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

    <!-- Tu script -->
    <script src="{% static 'app/js/script.js' %}"></script>

</head>

<body>
    <video autoplay muted loop id="bg-video">
        <source src="{%static 'app/video/VID_FACHADA.mp4' %}" type="video/mp4">
    </video>
    <div class="page-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="cd-slider-nav">
              <nav class="navbar navbar-expand-lg" id="tm-nav">
                <a class="navbar-brand" href="#">SIREVA</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar-supported-content">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item selected">
                        <a class="nav-link" aria-current="page" href="#0" data-no="1">Home</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="2">UGELs</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="3">Sobre Nosotros</a>
                        <div class="circle"></div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#0" data-no="4">Contacto</a>
                        <div class="circle"></div>
                      </li>
                    </ul>
                  </div>
              </nav>
            </div>
          </div>          
        </div>        
      </div>      
      <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
          <li class="px-3" data-page-no="1">
            <div class="page-width-1 page-left">
              <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                <div class="intro-left tm-bg-dark">
                  <h2 class="mb-4">!Bienvenidos SIREVA!</h2>
                  <p class="mb-4">
                    En SIREVA, nos comprometemos a facilitar el acceso a la información de cupos disponibles en las instituciones educativas de la región de Cusco. Nuestra plataforma está diseñada para brindar a padres de familia, docentes y comunidades escolares una herramienta confiable y sencilla para consultar la disponibilidad de vacantes en cada UGEL y colegio de la región.
                    Aquí podrás explorar las UGELs, obtener detalles actualizados de los colegios y tomar decisiones informadas para garantizar una educación de calidad para tus hijos.
                    ¡Empieza ahora y asegura el futuro educativo de los tuyos con SIREVA!. </p>
                   </div>
                <div class="intro-right">
                  <img src="{%static 'app/img/home-img-1.jpg' %} " alt="Image" class="img-fluid intro-img-1">
                  <img src="{%static 'app/img/home-img-2.jpg' %} " alt="Image" class="img-fluid intro-img-2">
                </div>
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="circle intro-circle-3"></div>
                <div class="circle intro-circle-4"></div>
              </div>
              <div class="text-center">
                <a href="#0" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
                  Ver UGELs
                </a>
                <a href="{% url 'login' %}" class="btn btn-primary tm-intro-btn">
                  Iniciar Sesión
              </a>
              </div> 
               <!-- Tabla de instituciones educativas -->
               <div class="container mt-4" id="tablaInstituciones" style="display: none;">
                  <h2 class="text-center">Instituciones Educativas</h2>
                  <table id="institucionesTable" class="table table-striped">
                      <thead>
                          <tr>
                              <th>Código Modular</th>
                              <th>Nombre</th>
                              <th>Nivel</th>
                              <th>Gestión</th>
                              <th>Vacantes</th>
                          </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>           
            </div>            
          </li>
          <li data-page-no="2">
            <!-- Image Carousel -->
            <div class="mx-auto position-relative gallery-container">
              <div class="circle intro-circle-1"></div>
              <div class="circle intro-circle-2"></div>
              <div class="mx-auto tm-border-top gallery-slider">
                <a href="https://ugelcusco.gob.pe/ws/" target="_blank" style="text-decoration: none; color: inherit;">
                  <figure class="effect-julia item">
                      <img src="{% static 'app/img/ugel-cusco.jpg' %}" alt="Image">
                      <figcaption>
                          <div>
                              <p>UGEL CUSCO</p>
                          </div>
                      </figcaption>
                  </figure>
              </a>
              <a href="https://www.gob.pe/ugelanta" target="_blank" style="text-decoration: none; color: inherit">
              <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-anta.png'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL ANTA</p>
                        </div>
                    </figcaption>
                </figure>
              </a>
              <a href="https://ugelacomayo.edu.pe/" target="_blank" style="text-decoration: none; color: inherit;">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-acomayo.jpg'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL ACOMAYO</p>
                        </div>
                    </figcaption>
                </figure>
              </a>
              <a href="http://www.web.ugelcalca.gob.pe" target="_blank" style="text-decoration: none; color: inherit;">  
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-calca.jpg'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL CALCA</p>
                        </div>
                    </figcaption>
                </figure>
              </a>
              
              <a href="https://portal.ugelcanas.gob.pe/" target="_blank" style="text-decoration: none; color:inherit">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-canas.jpg'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL CANAS</p>
                        </div>
                    </figcaption>
                </figure>
              </a>

              <a href="https://www.ugelcanchis.gob.pe" target="_blank" style="text-decoration: none; color: inherit">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-canchis.jpg'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL CANCHIS</p>
                        </div>
                    </figcaption>
                </figure>
              </a>
              <a href="https://www.gob.pe/ugelchumbivilcas" target="_blank" style="text-decoration: none; color: inherit">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-chumbivilcas.png'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL CHUMBIVILCAS</p>
                        </div>
                    </figcaption>
                </figure>
              </a>
              <a href="https://www.ugelespinar.gob.pe/" target="_blank" style="text-decoration: none; color: inherit;">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-espinar.png'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL ESPINAR</p>
                        </div>
                    </figcaption>
                </figure>
              </a>

              <a href="https://www.ugellaconvencion.gob.pe/web/" target="_blank" style="text-decoration: none; color:inherit">  
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-la-convecion.png'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL LA CONVECION</p>
                        </div>
                    </figcaption>
                </figure>
              </a>

              <a href="https://ugelparuro.gob.pe" target="_blank" style="text-decoration: none; color:inherit">
                <figure class="effect-julia item">
                    <img src="{%static 'app/img/ugel-paruro.png'%}" alt="Image">
                    <figcaption>
                        <div>
                            <p>UGEL PARURO</p>
                        </div>
                    </figcaption>
                </figure>

              <a href="https://ugelpaucartambo.edu.pe/portal/" target="_blank" style="text-decoration: none; color:inherit">  
                <figure class="effect-julia item">
                  <img src="{%static 'app/img/ugel-paucartambo.jpg'%}" alt="Image">
                  <figcaption>
                      <div>
                          <p>UGEL PAUCARTAMBO</p>
                      </div>
                  </figcaption>
              </figure>
              </a>

              <a href="https://www.gob.pe/ugelquispicanchi" target="_blank" style="text-decoration: none;  color:inherit;">
              <figure class="effect-julia item">
                <img src="{%static 'app/img/ugel-quispicanchi.jpg'%}" alt="Image">
                <figcaption>
                    <div>
                        <p>UGEL QUISPICANCHI</p>
                    </div>
                </figcaption>
            </figure>
          </a>

          <a href="https://www.ugelurubamba.gob.pe" target="_blank" style="text-decoration: none; color:inherit">
          <figure class="effect-julia item">
            <img src="{%static 'app/img/ugel-urubamba.jpg'%}" alt="Image">
            <figcaption>
                <div>
                    <p>UGEL URUBAMBA</p>
                </div>
            </figcaption>
            </figure>
          </a>
              </div>
            </div>
          </li>
          <li data-page-no="3" class="px-3">
            <div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
              <div class="circle intro-circle-1"></div>
              <div class="circle intro-circle-2"></div>
              <div class="circle intro-circle-3"></div>
              <div class="circle intro-circle-4"></div>
              <div class="tm-bg-dark content-pad">
                <h2 class="mb-4">Sobre Nosostros</h2>
                <p>
                  GEREDU Cusco (Gerencia Regional de Educación de Cusco) es el organismo encargado de planificar, coordinar y supervisar las políticas educativas en la región. 
                  Nuestra misión es garantizar una educación inclusiva, equitativa y de calidad para todos los niños, niñas y jóvenes del Cusco, trabajando en conjunto con las Unidades de Gestión Educativa Local (UGELs) y las instituciones educativas de cada provincia.
                </p>
                <p>
                  A través de nuestra plataforma "SIREVA", buscamos modernizar y facilitar el acceso a la información sobre vacantes escolares disponibles en toda la región.
                   Este proyecto refleja nuestro compromiso con la transparencia y la eficiencia, permitiendo que padres y estudiantes tomen decisiones informadas y oportunas.
                  </p>
                  <p>
                  En GEREDU, trabajamos día a día para promover una educación que fomente el desarrollo integral de nuestros estudiantes, reconociendo la diversidad cultural y geográfica de nuestra región. ¡Estamos comprometidos con construir un futuro mejor para el Cusco!
                </p>
              </div>              
            </div>
          </li>
          <li data-page-no="4">
            <div class="mx-auto page-width-2">
              <div class="row">
                <div class="col-md-6 me-0 ms-auto">
                  <h2 class="mb-4">Contáctanos</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 tm-contact-left">
                  <form action="#" method="POST" class="contact-form">
                    <div class="input-group tm-mb-30">
                        <input name="name" type="text" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Nombre">
                    </div>
                    <div class="input-group tm-mb-30">
                        <input name="email" type="text" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Email">
                    </div>
                    <div class="input-group tm-mb-30">
                        <textarea rows="5" name="message" class="textarea form-control rounded-0 border-top-0 border-end-0 border-start-0" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="input-group justify-content-end">
                        <input type="submit" class="btn btn-primary tm-btn-pad-2" value="Enviar">
                    </div>
                  </form>
                </div>
                <div class="col-md-6 tm-contact-right">                  
                  <p class="mb-4">
                    Plazoleta Santa Catalina N° 235
                    Horario de atención: Lunes a Viernes de 9:00 AM a 5:00 PM
                  </p>
                  <div>
                    Email: <a href="mailto:info@company.com" class="tm-link-white">ccomputo@drecusco.edu.pe</a>
                  </div>
                  <!--<div class="tm-mb-45">
                    Tel: <a href="tel:0100200340" class="tm-link-white">010-020-0340</a>
                  </div> -->
                  <!-- Map -->
                  <div class="map-outer">
                    <div class="gmap-canvas">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.8233922567231!2d-71.97749867570691!3d-13.517567041837623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd674a1e50585%3A0xb85a062a7344100d!2sPlazoleta%20Sta.%20Catalina%20235%2C%20Cusco%2008002!5e0!3m2!1ses!2spe!4v1744383913036!5m2!1ses!2spe" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                </div>
              </div>
            </div>            
          </li>
        </ul>
    </div>
    <div class="container-fluid">
      <footer class="row mx-auto tm-footer">
        <div class="col-md-6 px-0">
          Copyright GEREDU 2024. Todos los derechos reservados.
        </div>
        <div class="col-md-6 px-0 tm-footer-right">
          Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank" class="tm-link-white">Centro de Cómputo</a>
        </div>
      </footer>
    </div>
  </div>
  <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
  <div id="loader-wrapper">            
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>  
  <script src="{%static 'app/js/jquery-3.5.1.min.js'%}"></script>
  <script src="{%static 'app/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'app/js/slick.js'%}"></script>
  <script src="{%static 'app/js/templatemo-script.js'%}"></script>
</body>
</html> 
