<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Director</title>
    <link rel="stylesheet" href="{% static 'app/style-form.css' %}">
</head>
<body>
    <div class="background">
        <div class="form-container">
            <div class="form-header">
                <h1>Registrar Director</h1>
                <p>Complete los campos requeridos para registrar un nuevo director.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            {{ form.dni.label_tag }}
                            {{ form.dni }}
                        </div>
                        <div class="form-group">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                        </div>
                        <div class="form-group">
                            {{ form.apellido_paterno.label_tag }}
                            {{ form.apellido_paterno }}
                        </div>
                        <div class="form-group">
                            {{ form.apellido_materno.label_tag }}
                            {{ form.apellido_materno }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.telefono.label_tag }}
                            {{ form.telefono }}
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            {{ form.estado.label_tag }}
                            {{ form.estado }}
                        </div>
                        <div class="form-group">
                            {{ form.codigo_modular.label_tag }}
                            {{ form.codigo_modular }}
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit">Registrar Director</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
