<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vacantes</title>
    <link rel="stylesheet" href="{% static 'app/style-registrar-vacantes.css' %}">
</head>
<body>
    <header class="header">
        <h1>Registrar Vacantes</h1>
        <a href="{% url 'home' %}" class="back-button">Volver a Inicio</a>
    </header>

    <main>
        <h2>{{ colegio.cen_edu }} ({{ colegio.cod_mod }})</h2>
        <p>Nivel Educativo: {{ colegio.d_niv_mod }}</p>

        <form method="POST">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Grado</th>
                        <th>Vacantes Regulares</th>
                        <th>Vacantes NEE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grado in data_grados %}
                    <tr>
                        <td>{{ grado.grado }}</td>
                        <td>
                            <input 
                                type="number" 
                                name="vacantes_{{ grado.grado|slugify }}_regulares" 
                                value="{{ grado.vacantes_regulares }}" 
                                min="0" 
                                required>

                        </td>
                        <td>
                            <input 
                                type="number" 
                                name="vacantes_{{ grado.grado|slugify }}_regulares" 
                                value="{{ grado.vacantes_regulares }}" 
                                min="0" 
                                required>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="save-button">Guardar Vacantes</button>
        </form>
    </main>
</body>
</html>
