/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0;
    font-size: 30px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Adjusted width */
}

form label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 100%;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus {
    outline: none;
    border-color: #4CAF50;
}

form input[type="text"]#dni { /* Specific styling for DNI */
    width: 60%; /* Smaller width */
    display: inline-block; /* Inline to align with the other fields */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}
